.mainHeading {
  font-size: 32px;
  text-align: left;
  position: relative;
  font-weight: 600;
  font-family: var(--primary-font);
  margin-bottom: 30px;
}
.mainHeading::before {
  content: '';
  position: absolute;
  bottom: -5px;
  width: 80px;
  height: 5px;
  background-color: var(--primary-color);
  left: 2px;
}
